#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;

}

#page-landing .content-wrapper {
    position: relative;

    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 680px;

    padding: 0 12px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../images/landing.svg') no-repeat 80% center;

}

#page-landing .content-wrapper .warning {
    display: none;
}

#page-landing .content-wrapper main h1 {
    max-width: 350px;
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    max-width: 350px;
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location {
    position: absolute;
    right: 55%;
    top: 0;

    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;

}

.content-wrapper .location strong {
    font-weight: 800;
}


.content-wrapper .enter-adm {
    position: absolute;
    right: 12px;
    top: 0;

    width: 222px;
    height: 56px;
    background: #12D4E0;
    border-radius: 20px;

    color: #fff;
    font-weight: 800;
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background 0.2s;

}

.content-wrapper .enter-adm:hover {
    background: #96FEFF;
    color: #15C3D6;

}

.content-wrapper .enter-app {
    position: absolute;
    right: 12px;
    bottom: 0;

    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s;
    
}

.content-wrapper .enter-app:hover {
    background: #96feff;
}

@media screen and (max-width: 1024px) {
    .content-wrapper .location {
        display: none;
    }

    #page-landing .content-wrapper main {
        max-width: 220px;
    }

    #page-landing .content-wrapper main h1 {
        max-width: 350px;
        font-size: 56px;
        font-weight: 900;
        line-height: 60px;
    }

    #page-landing .content-wrapper main p {
        margin-top: 30px;
    }
  }

  @media screen and (max-width: 800px) {
    .content-wrapper .location {
        display: none;
    }

    #page-landing .content-wrapper main {
        max-width: 200px;
    }

    #page-landing .content-wrapper main h1 {
        max-width: 350px;
        font-size: 35px;
        font-weight: 900;
        line-height: 45px;
    }

    #page-landing .content-wrapper main p {
        margin-top: 30px;
    }
  }

  @media screen and (max-width: 680px) {
    .content-wrapper .location {
        display: none;
    }

    #page-landing .content-wrapper main {
        display: none;
    }

    #page-landing .content-wrapper .enter-adm {
        display: none;
    }

    #page-landing .content-wrapper .enter-app {
        display: none;
    }
    
    #page-landing .content-wrapper .warning {
        padding-top: 40px;
        display: block;
    }

  }